<ng-container *ngIf="post$ | async as post">
  <ng-container
    *ngIf="{
      valueChanges: valueChanges$ | async
    } as data"
  >
    <p-card class="card-flex" [header]="'Edit a post #' + post.id">
      <form
        (focusout)="(true)"
        [formGroup]="postsForm"
        class="p-fluid p-formgrid p-grid p-input-filled"
      >
        <div class="p-field p-col-12 p-md-6 p-d-flex p-flex-column">
          <label for="author" class="required">Author</label>
          <input
            #author
            pInputText
            appControl
            entityName="post"
            id="author"
            formControlName="author"
          />
          <small id="author-help">{{
            (author.value.length || 0) + " / " + author.maxLength
          }}</small>
          <app-form-errors [form]="postsForm" controlName="author"></app-form-errors>
        </div>
        <div class="p-field p-col-12 p-md-6 p-d-flex p-flex-column">
          <label for="password" class="required">Password</label>
          <input
            #password
            pInputText
            appControl
            entityName="post"
            id="password"
            formControlName="password"
          />
          <small id="password-help">{{
            (password.value.length || 0) + " / " + password.maxLength
          }}</small>
          <app-form-errors [form]="postsForm" controlName="password"></app-form-errors>
        </div>
        <div class="p-field p-col-12 p-d-flex p-flex-column">
          <label for="title" class="required">Title</label>
          <input
            #title
            pInputText
            appControl
            entityName="post"
            id="title"
            formControlName="title"
          />
          <small id="title-help">{{
            (title.value.length || 0) + " / " + title.maxLength
          }}</small>
          <app-form-errors [form]="postsForm" controlName="title"></app-form-errors>
        </div>
        <div class="p-field p-col-12 p-d-flex p-flex-column flex-1">
          <label for="content" class="required">Content</label>
          <textarea
            #content
            rows="10"
            cols="30"
            [autoResize]="true"
            pInputTextarea
            appControl
            entityName="post"
            id="content"
            formControlName="content"
          ></textarea>
          <small id="content-help">{{
            (content.value.length || 0) + " / " + content.maxLength
          }}</small>
          <app-form-errors [form]="postsForm" controlName="content"></app-form-errors>
        </div>
      </form>

      <p-footer class="p-jc-between">
        <div>
          <app-button
            styleClass="p-button-danger"
            label="Delete"
            icon="pi pi-times"
            [loading]="true"
            [invalid]="postsForm.get('password')!.invalid"
            [cb]="onDelete.bind(this)"
          ></app-button>
        </div>
        <div>
          <app-button
            styleClass="p-button-danger p-mr-2"
            label="Reset"
            icon="pi pi-refresh"
            [loading]="true"
            [cb]="onReset.bind(this, post)"
          ></app-button>
          <app-button
            styleClass="p-button-success"
            label="Update"
            icon="pi pi-pencil"
            [delay]="true"
            [loading]="true"
            [invalid]="postsForm.invalid"
            [isUnchanged]="isUnchanged"
            [cb]="onSubmit.bind(this)"
          ></app-button>
        </div>
      </p-footer>
    </p-card>
  </ng-container>
</ng-container>
