// media query breakpoints
$breakpoint-mobile-S: 321;
$breakpoint-mobile-M: 376;
$breakpoint-mobile-L: 426;

$breakpoint-tablet: 769;

$breakpoint-laptop: 1025;
$breakpoint-laptop-L: 1441;

$breakpoint-desktop: 1920;
$breakpoint-desktop-4k: 2561;

$sm:576px !default;
$md:768px !default;
$lg:992px !default;
$xl:1200px !default;

$max-width: 1440px !default;